.Landing-page {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 3rem;
}
.landingpage-details h2 {
  text-align: start;
}
.landingpage-details {
  max-width: 400px;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: justify;
}
.landingpage-details ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 500;
}
.landingpage-details .button {
  text-align: center;
  /* width: 50%; */
}
.landingpage-image {
  width: 100%;
  height: 50%;
}
.landingpage-image img {
  width: 100%;
}
@media screen and (min-width: 550px) {
  .Landing-page {
    align-items: center;
  }
  .landingpage-details {
    text-align: center;
  }
  .landingpage-details ul {
    text-align: start;
  }
}

@media screen and (min-width: 900px) {
  .Landing-page {
    flex-direction: row;
    align-items: center;
  }
}
