.Landing-page {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 3rem;
}
.landingpage-details h2 {
  text-align: start;
}
.landingpage-details {
  max-width: 400px;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: justify;
}
.landingpage-details section {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow:
    #4b6bb7bc 0px 1px 2px 0px,
    #18284818 0px 1px 3px 1px;
}
.landingpage-details section h3 {
  border-bottom: 1px solid #4b6cb7;
  padding-bottom: 0.5rem;
}
.landingpage-details ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 500;
}
.landingpage-details .button {
  text-align: center;
  /* width: 50%; */
}
.landingpage-image {
  width: 100%;
  height: 50%;
}
.landingpage-image img {
  width: 100%;
}
@media screen and (min-width: 550px) {
  .Landing-page {
    align-items: center;
  }
  .landingpage-details {
    text-align: center;
  }
  .landingpage-details ul {
    text-align: start;
  }
}

@media screen and (min-width: 900px) {
  .Landing-page {
    flex-direction: row;
    align-items: center;
  }
}
