.nav {
  width: 100%;
  padding: 1rem;
  height: 5rem;
  transition: 0.3s;
}
.nav h1 {
  font-size: 2.5rem;
}
.nav-links ul {
  display: flex;
  gap: 1rem;
}
.open {
  display: block;
}
.menu {
  display: none;
}
.menu:hover {
  cursor: pointer;
}
.nav-links .active {
  background-color: #4b6cb7;
  border-radius: 0.5rem;
}
.nav-links ul li {
  padding: 1rem;
}
@media screen and (max-width: 760px) {
  .menu {
    display: block;
  }
  .open {
    display: none;
  }
  .nav-links {
    position: absolute;
    right: 0;
    top: 5rem;
    background-color: #182848;
    z-index: 1000;
  }
  .nav-links ul {
    flex-direction: column;
    padding: 1rem;
  }
}
