@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.whiteboard-container {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Caveat Brush", cursive;
}
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  color: white;
}

a {
  text-decoration: none;
  color: white;

  font-weight: bold;
  text-transform: uppercase;
}

li {
  list-style: none;
}

.page {
  width: 100%;
  padding: 1rem;
  text-align: center;
}
.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #4b6cb7;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  /* margin-top: 1rem; */
  border: none;
  outline: none;
  transition: 0.1s;
}
.button:hover {
  transition: 0.1s;

  background: #182848;
  cursor: pointer;
}

input {
  padding: 0.5rem 1rem;
  border: 1px solid #4b6cb7;
  border-radius: 6px;
  outline: none;
}
